@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1><span>Music i Like (pyRoBej) </span></h1>
</div>
<!-- Video  -->
<section>
    <br>
    <h2 id="Vid">Seccion de videos.</h2>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ALZHF5UqnU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--- <a href="https://www.youtube.com/watch?v=ALZHF5UqnU4" target="new"> Marsh Mello - Alone - </a> --->
</section>
<!-- End video  -->
<!-- Animacion  -->

    <button onclick="myMove()">Click for animation</button>


<div id="myContainer">
    <div id="myAnimation"></div>
</div>
<!-- End animacion  -->
